.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  color: var(--text-primary);
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: min(
    var(--layout-main-max),
    calc(100% - (var(--layout-page-gutter) * 2))
  );
  margin-inline: auto;
  padding-block: var(--layout-main-block-padding);
}
