.basket {
  --size: min(16dvh, 25dvw);

  --base-depth: calc(var(--size) * 2);
  --base-width: calc(var(--size) * 2.35);
  --base-height: calc(var(--size) * 2);
  --base-inset: 12px;

  --depth: var(--base-depth);
  --width: var(--base-width);
  --height: var(--base-height);
  --inset: var(--base-inset);

  --inset-width: calc(var(--inset) * sqrt(2));
  --double-inset: calc(var(--inset) * 2);
  --half-depth: calc(var(--depth) / 2);
  --half-width: calc(var(--width) / 2);
  --half-height: calc(var(--height) / 2);

  --base-color: var(--color-violet-600);
  --color: var(--base-color);
  --shade-color: color-mix(in srgb, var(--base-color) 50%, black);
  --light-color: color-mix(in srgb, var(--base-color) 35%, #ffffff60);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  width: var(--width);
  height: var(--height);
  user-select: none;
  transform-style: preserve-3d;
}

.content {
  display: grid;
  grid-area: 1 / 1;
  max-height: var(--height);
  transform-style: preserve-3d;
  translate: 0 -3% calc(var(--depth) / -2.5);

  & > * {
    grid-area: 1/1;
    align-self: end;
  }
}

.face,
.side,
.base,
.curve {
  grid-area: 1 / 1;
  background: var(--color);
}

.face {
  width: calc(var(--width) - var(--double-inset));
  height: var(--height);

  &:not(.shading > &) {
    box-shadow: 15px 10px 8px 0 inset var(--light-color);
  }
}

.side {
  background-color: color-mix(in srgb, var(--base-color) 62%, black);
}

.face,
.side {
  -webkit-mask-image: url(./basket-holes.svg), linear-gradient(black, black);
  mask-image: url(./basket-holes.svg), linear-gradient(black, black);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;

  -webkit-mask-composite: destination-out; /* Safari/Older Chrome */
  mask-composite: exclude; /* Modern Standard */
}

.back {
  transform: translateZ(calc(var(--half-depth) * -1)) rotateY(180deg);

  &:not(.shading > &) {
    display: none;
  }
}

.front {
  transform: translateZ(var(--half-depth));
  display: grid;

  &:not(.shading > &)::before {
    display: block;
    content: "";
    background-image: linear-gradient(
      to left top,
      color-mix(in srgb, var(--color) 80%, black),
      var(--color)
    );
  }
}

.side {
  width: calc(var(--depth) - var(--double-inset));
  height: var(--height);
}

.left {
  transform: rotateY(-90deg) translateZ(var(--half-width));
}

.right {
  transform: rotateY(90deg) translateZ(var(--half-width));
}

.base {
  width: var(--width);
  height: var(--depth);
}

.bottom {
  transform: rotateX(-90deg) translateZ(var(--half-height));
  clip-path: polygon(
    var(--inset) 0,
    calc(100% - var(--inset)) 0,
    100% var(--inset),
    100% calc(100% - var(--inset)),
    calc(100% - var(--inset)) 100%,
    var(--inset) 100%,
    0 calc(100% - var(--inset)),
    0 var(--inset)
  );
  background-color: color-mix(in srgb, var(--color) 70%, black);
}

.curve {
  display: grid;
  width: calc(var(--inset-width) + 1px);
  height: var(--height);
  background-image: linear-gradient(
    to right,
    color-mix(in srgb, var(--color) 60%, black),
    color-mix(in srgb, var(--color) 60%, black),
    transparent
  );
}

.frontLeft {
  transform-origin: left;
  justify-self: start;
  transform: translateZ(calc(var(--half-depth) - var(--inset))) rotateY(-45deg);
}

.backLeft {
  transform-origin: left;
  justify-self: start;
  transform: translateZ(calc((var(--half-depth) * -1) + var(--inset)))
    rotateY(45deg);
}

.frontRight {
  transform-origin: right;
  justify-self: end;
  transform: translateZ(calc(var(--half-depth) - var(--inset))) rotateY(45deg);
}

.backRight {
  transform-origin: right;
  justify-self: end;
  transform: translateZ(calc((var(--half-depth) * -1) + var(--inset)))
    rotateY(-45deg);
}

.shading {
  grid-area: 1 / 1;
  --scale-factor: 0.97;
  --width: calc(var(--base-width) * var(--scale-factor));
  --height: calc(var(--base-height) * var(--scale-factor));
  --depth: calc(var(--base-depth) * var(--scale-factor));
  --inset: calc(var(--base-inset) * var(--scale-factor));
  --color: var(--shade-color);

  .face,
  .side,
  .curve {
    translate: 0 -2.25%;
  }

  .front.face {
    background-color: color-mix(in srgb, var(--color) 60%, black);
  }

  .curve {
    background-image: none;
  }

  .side {
    background-color: color-mix(in srgb, var(--color) 60%, black);
  }

  .bottom {
    background-color: color-mix(in srgb, var(--color) 50%, black);
    transform: rotateX(-90deg) translateZ(calc(var(--half-height) * 0.95));
  }
}
