.viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    touch-action: none;
    position: relative;
}

.viewerDragging {
    cursor: grabbing;
}

.scene {
    position: relative;
    transform-style: preserve-3d;
    /* Center the box */
    display: grid;
    place-items: center;
}
