@import "tailwindcss";

@utility animate-fade-in {
    animation: fade-in 800ms var(--ease-spring);
}

@utility animate-offset-path {
    animation: to-offset-start 1300ms ease;
}

@utility animate-rotate {
    animation: rotate 10000ms linear infinite;
}

@keyframes fade-in {
    from {
        translate: 0px 10%;
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        rotate: y 0deg;
    }
    to {
        rotate: y 360deg;
    }
}

@keyframes to-offset-start {
    from {
        offset-distance: 0%;
    }
}

@keyframes offset-path {
    to {
        offset-distance: var(--offset-distance-end, 100%);
    }
}
