.glass {
  background-color: var(--color);
  -webkit-mask-image: url("glasses.svg"), linear-gradient(black, black);
  mask-image: url("glasses.svg"), linear-gradient(black, black);

  clip-path: path(
    "M103.423 27.4857C132.325 25.4529 171.87 30.0623 199.989 36.4449C216.454 40.369 227.767 46.3492 244.986 46.8701C264.353 47.4557 270.538 45.8429 288.294 40.24C295.401 38.0453 302.603 36.1749 309.881 34.6346C364.995 23.0386 437.677 24.0963 490.395 44.3406C491.205 49.8183 490.758 61.3479 490.416 66.8807C469.472 75.2434 469.822 83.8082 463.287 103.641C456.518 124.666 446.232 149.654 426.159 161.459C397.336 178.41 351.979 177.711 322.813 162.18C299.766 147.602 288.394 129.35 278.871 103.989C274.293 91.8037 272.19 74.5451 259.02 68.7573C253.683 66.4674 247.652 66.3777 242.248 68.5081C230.571 73.1539 228.014 85.5793 224.447 96.2866C222.688 101.654 220.701 106.943 218.491 112.141C208.207 135.989 192.658 157.368 167.686 166.968C142.47 176.216 108.52 176.461 83.8948 166.121C50.638 152.156 41.8086 115.924 31.315 85.0955C27.6699 74.3865 19.9714 71.0026 10.2144 66.7596C10.0137 59.0563 9.7061 52.1094 10.635 44.4208C35.1196 32.5593 76.1863 28.7016 103.423 27.4857Z"
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-composite: destination-out; /* Safari/Older Chrome */
  mask-composite: exclude; /* Modern Standard */
}

.glassFront {
  /*background-image: linear-gradient(
    #7b7dbd,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent
  );*/
}

.glassBehind {
  --color: var(--secondary-color);
}

.lens {
  display: grid;
  grid-template-columns: 1fr;

  &::before,
  &::after {
    display: block;
    content: "";
    grid-area: 1/1;
    background-color: white;
    opacity: 0.05;
  }

  &::before {
    clip-path: path(
      "M119.183 40.5771C141.67 39.691 185.607 41.5304 203.994 56.2803C209.15 60.4167 211.958 67.1811 212.186 73.8883C212.884 94.4479 204.311 121.524 190.892 137.074C177.834 152.205 155.933 155.99 137.079 157.098C136.93 157.11 136.779 157.115 136.629 157.12C115.8 157.925 87.7294 156.724 71.5777 141.698C54.9284 126.209 45.0477 88.3993 44.2401 66.3402C44.0646 61.5459 43.6335 55.8916 47.2114 52.137C55.3738 43.5707 105.943 40.8713 119.183 40.5771Z"
    );
  }

  &::after {
    clip-path: path(
      "M383.043 40.185C360.556 39.2989 316.618 41.1383 298.232 55.8882C293.075 60.0246 290.267 66.789 290.039 73.4962C289.342 94.0558 297.915 121.132 311.334 136.682C324.391 151.813 346.293 155.598 365.146 156.706C365.296 156.718 365.446 156.722 365.597 156.728C386.426 157.532 414.496 156.332 430.648 141.306C447.297 125.817 457.178 88.0072 457.986 65.9481C458.161 61.1538 458.592 55.4995 455.014 51.745C446.852 43.1786 396.283 40.4792 383.043 40.185Z"
    );
  }
}

.hinges {
  display: grid;
  grid-template-columns: 1fr;
  isolation: isolate;

  &::before,
  &::after {
    display: block;
    content: "";
    grid-area: 1/1;
    background: linear-gradient(
      white,
      white,
      var(--color),
      var(--color),
      var(--color),
      var(--color),
      white
    );
  }

  &::before {
    clip-path: path(
      "M24.3805 48.4022C27.7725 48.7627 31.213 49.0584 32.4997 52.7676C32.0637 56.7129 29.3744 57.0713 25.9613 57.9818C16.7434 58.2651 13.4343 50.4588 24.3805 48.4022Z"
    );
  }

  &::after {
    clip-path: path(
      "M477.381 48.4022C480.772 48.7627 484.213 49.0584 485.5 52.7676C485.064 56.7129 482.374 57.0713 478.961 57.9818C469.743 58.2651 466.434 50.4588 477.381 48.4022Z"
    );
  }
}

.ridge {
  background-color: black;
  opacity: 0.1;
  clip-path: path(
    "M228 45C242.967 48.5123 257.044 48.2656 272.015 45.031C270.132 53.1182 268.796 61.7776 267.159 69.9575C267.052 70.7278 267.099 70.7567 266.602 71.3877C261.207 67.4694 258.127 66.7467 251.467 66.7282C244.736 66.7095 237.987 66.6273 233.104 72C231.897 64.0493 229.741 52.7307 228 45Z"
  );
}

.templeRight,
.templeLeft {
  transform-origin: top left;
  background-color: var(--color);
  clip-path: path(
    "M42.7217 44.8069C35.6941 44.5152 17.3846 43.3802 11 44.4502V67.5C37.4932 68.1899 64.1033 86.6814 90.5705 88.4524L189.626 95.0809L235.91 98.1954C243.035 98.6599 253.349 99.4414 260.201 99.4635C264.696 99.4785 279.42 94.439 284.518 92.9929C301.509 88.175 317.708 83.1694 335.316 81.8662C383.84 77.0138 411.438 114.48 443.27 143.815C451.655 151.546 470.159 162.311 479.376 149.336C483 144.243 488.638 137.126 487.962 130.38C487.696 127.778 484.669 125.95 482.786 124.456C472.796 117.938 462.969 110.886 453.051 104.311C431.488 90.0109 410.217 73.8123 385.126 66.3321C366.44 60.7626 345.409 58.199 325.95 56.6508C299.035 54.5102 271.457 53.9346 244.418 52.8179L98.449 47.0658L42.7217 44.8069Z"
  );
}

.templeRightBehind {
  --color: var(--secondary-color);
}

.templeRight {
  transform: translateX(100%) rotateY(90deg) translateZ(-8px) translateX(-12px)
    rotateY(5deg);
}

.templeLeft {
  transform: translateX(0%) rotateY(90deg) translateZ(8px) translateX(-12px)
    rotateY(-5deg);
}
