.container {
  display: grid;
  transform-style: preserve-3d;
}

.keyboard {
  height: 100%;
  padding: var(--padding-y) var(--padding-x);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  transform-style: preserve-3d;
  grid-area: 1 / 1;
  border-radius: 30px;
  translate: 0 0 18px;
}

.keyboardSolid {
  grid-area: 1 / 1;
}

.keyboardSolidFront {
  box-shadow: inset 0 0 8px 2px #ffffff03;
}

.keyboardRow {
  width: 100%;
  display: flex;
  gap: var(--gap);
  transform-style: preserve-3d;
}

.keyWrapper {
  display: grid;
  transform-style: preserve-3d;
}