.sticker {
  --height: min(25dvh, 28dvw);

  display: grid;
  width: auto;
  height: var(--height);
  aspect-ratio: 0.8;

  --clip: shape(
    evenodd from 0.916372% 0.036568%,
    curve to 5.53785% 0.112803% with 1.975968% 0.02033% / 4.64679% -0.092075%,
    curve to 6.268837% 1.086892% with 5.780074% 0.279794% / 6.099644% 0.863137%,
    curve to 11.407218% 1.161548% with 7.384145% 2.562162% / 10.14295% 2.548758%,
    curve to 12.086925% 0.046401% with 11.797272% 0.733509% / 11.874443%
      0.500314%,
    curve to 14.778733% 0.051747% with 12.872177% -0.005676% / 13.991349%
      0.014983%,
    curve to 15.109768% 0.640574% with 14.882471% 0.249827% / 14.992858%
      0.446125%,
    curve to 20.147547% 1.515525% with 16.038899% 2.149564% / 18.352632%
      2.823733%,
    curve to 21.236112% 0.046468% with 20.742131% 1.082211% / 20.943712%
      0.597539%,
    curve to 23.741391% 0.079337% with 21.905206% 0.007657% /
      23.112437% -0.05023%,
    curve to 24.549096% 0.998253% with 24.070168% 0.165077% / 24.428173%
      0.772122%,
    curve to 28.397206% 1.996768% with 25.095135% 2.019209% / 27.016367%
      2.499519%,
    curve to 30.4144% 0.042177% with 29.605691% 1.556712% / 29.988533% 0.908548%,
    curve to 33.09379% 0.045412% with 31.208558% -0.00561% / 32.300133%
      0.016172%,
    curve to 33.408267% 0.616019% with 33.205431% 0.22105% / 33.299511%
      0.439326%,
    curve to 37.834402% 1.858951% with 34.186996% 1.881656% / 36.005117%
      2.760175%,
    curve to 39.73707% 0.044421% with 38.886966% 1.34042% / 39.060072% 0.736214%,
    curve to 40.810707% 0% with 40.13534% -0.017953% / 40.490084% 0.014521%,
    curve to 43.458737% 1.693412% with 43.057455% -0.101383% / 42.204215%
      0.838058%,
    curve to 45.518705% 2.170756% with 44.021584% 2.077223% / 44.833178%
      2.20125%,
    curve to 48.652061% 0.160457% with 47.790291% 2.06983% / 47.727571%
      1.231178%,
    curve to 51.292815% 0.045346% with 48.856025% -0.075707% / 50.774749%
      0.028383%,
    curve to 55.705403% 2.00284% with 51.98499% 1.403714% / 53.270244% 2.716278%,
    curve to 57.744172% 0.05551% with 56.872493% 1.660937% / 57.339128%
      0.845451%,
    curve to 61.646472% 1.652753% with 61.201162% -0.186594% / 60.011116%
      0.099403%,
    curve to 65.899501% 1.455989% with 62.411654% 2.379594% / 65.296137%
      2.32283%,
    curve to 69.559954% 0.053266% with 67.053796% -0.202303% /
      66.837915% -0.048711%,
    curve to 72.631216% 2.178606% with 70.147638% 1.179633% / 70.817109%
      2.119994%,
    curve to 76.204112% 0.101581% with 74.8811% 2.251211% / 75.154559% 1.118047%,
    curve to 78.043809% 0.019075% with 76.341217% -0.031154% / 77.703993%
      0.025412%,
    curve to 79.777258% 1.521862% with 79.166242% -0.001782% / 79.084581%
      1.086963%,
    curve to 84.089996% 1.533417% with 80.536669% 2.357944% / 83.356049%
      2.384742%,
    curve to 87.843776% 0.06343% with 85.438597% -0.030824% /
      84.648077% -0.109897%,
    curve to 88.398971% 1.018116% with 88.004715% 0.387314% / 88.161891%
      0.717073%,
    curve to 90.160645% 2.068581% with 88.793353% 1.519292% / 89.36172% 1.90951%,
    curve to 94.544884% 0.104024% with 93.642346% 2.761557% / 93.450423%
      0.471735%,
    curve to 99.481433% 0.096896% with 95.020049% -0.055442% /
      99.000623% -0.061251%,
    curve to 99.829653% 0.362035% with 99.664951% 0.15729% / 99.761916%
      0.228574%,
    curve to 99.996237% 1.718555% with 100.033869% 0.764728% / 99.982062%
      1.291902%,
    curve to 97.187268% 4.571601% with 100.086553% 4.540578% / 98.134839%
      3.160091%,
    curve to 96.874798% 5.533549% with 96.985938% 4.870662% / 96.914312%
      5.207021%,
    curve to 99.900276% 8.124152% with 96.634832% 7.508859% / 99.585046%
      7.429918%,
    curve to 97.162808% 10.571746% with 100.595713% 9.659125% / 97.881702%
      9.526236%,
    curve to 96.855982% 11.587422% with 96.947302% 10.885751% / 96.87668%
      11.242351%,
    curve to 99.890868% 14.172156% with 96.742209% 13.533673% / 99.615151%
      13.418209%,
    curve to 97.19191% 16.533354% with 100.485577% 15.802729% / 98.090684%
      15.340698%,
    curve to 97.000991% 18.31873% with 96.807061% 17.04414% / 96.750613%
      17.771861%,
    curve to 99.278221% 19.720928% with 97.369783% 19.125216% / 98.304308%
      19.363272%,
    curve to 99.912443% 20.196336% with 99.569993% 19.827943% / 99.830657%
      19.96136%,
    curve to 97.146751% 22.580152% with 100.410313% 21.617807% / 98.021065%
      21.424018%,
    curve to 97.02357% 24.28993% with 96.759143% 23.091818% / 96.786363%
      23.747198%,
    curve to 99.178496% 25.631228% with 97.36602% 25.075383% / 98.232682%
      25.281757%,
    curve to 99.919091% 26.258798% with 99.551177% 25.768693% / 99.809959%
      25.969611%,
    curve to 97.197554% 28.452873% with 100.413073% 27.56463% / 98.084036%
      27.357288%,
    curve to 97.018803% 30.231913% with 96.773192% 28.977213% / 96.772314%
      29.666123%,
    curve to 98.923478% 31.490749% with 97.310575% 30.901814% / 98.100092%
      31.185633%,
    curve to 99.940667% 32.199549% with 99.388357% 31.662889% / 99.792899%
      31.815227%,
    curve to 97.192913% 34.358245% with 100.390493% 33.369499% / 97.937272%
      33.462433%,
    curve to 96.953825% 36.037926% with 96.814587% 34.813412% / 96.752495%
      35.534532%,
    curve to 99.431633% 37.622648% with 97.313335% 36.937434% / 98.387976%
      37.195908%,
    curve to 99.980181% 38.090136% with 99.686652% 37.726847% / 99.91721%
      37.87989%,
    curve to 97.273822% 40.217854% with 100.336931% 39.279448% / 98.02671%
      39.401512%,
    curve to 96.910549% 41.906864% with 96.84093% 40.687806% / 96.727156%
      41.366948%,
    curve to 99.450449% 43.57704% with 97.243716% 42.88813% / 98.385216%
      43.096528%,
    curve to 99.911565% 44.011261% with 99.675362% 43.678247% / 99.867285%
      43.821696%,
    curve to 97.362257% 46.065055% with 100.250252% 45.467143% / 98.305186%
      45.135712%,
    curve to 96.909671% 47.776945% with 96.881447% 46.539935% / 96.770433%
      47.213356%,
    curve to 99.428748% 49.508902% with 97.176857% 48.856778% / 98.382331%
      48.946544%,
    curve to 99.986829% 50.23627% with 99.776968% 49.696354% / 99.951079%
      49.92869%,
    curve to 97.462985% 51.919383% with 100.087557% 51.105593% / 98.165948%
      51.330624%,
    curve to 96.87392% 53.544412% with 96.929365% 52.366277% / 96.795771%
      52.976774%,
    curve to 99.686652% 55.555611% with 97.066846% 54.94309% / 98.630827%
      54.877086%,
    curve to 100% 56.105384% with 99.923733% 55.708037% / 100.007526% 55.882993%,
    curve to 97.687898% 57.678314% with 99.967009% 57.064472% / 98.512287%
      57.141654%,
    curve to 96.851341% 59.045221% with 97.122291% 58.046618% / 96.880443%
      58.511289%,
    curve to 99.681007% 61.511851% with 96.747853% 60.90989% / 98.699442%
      60.711877%,
    curve to 99.942549% 62.375189% with 99.987707% 61.761347% / 99.985825%
      62.064264%,
    curve to 97.788626% 63.5058% with 99.857877% 62.981109% / 98.397384%
      63.14216%,
    curve to 96.861627% 64.917679% with 97.173094% 63.872785% / 96.913434%
      64.362538%,
    curve to 99.73457% 67.478651% with 96.677231% 66.878011% / 98.799292%
      66.660196%,
    curve to 99.996237% 68.166417% with 99.95572% 67.672704% / 100.037632%
      67.922201%,
    curve to 97.740582% 69.46864% with 99.87293% 68.901706% / 98.443546%
      69.048236%,
    curve to 96.86539% 70.922058% with 97.108241% 69.84689% / 96.930368%
      70.36102%,
    curve to 99.773205% 73.380767% with 96.638596% 72.877109% / 98.98557%
      72.628932%,
    curve to 99.931259% 74.308789% with 99.994355% 73.591981% / 99.977421%
      74.059292%,
    curve to 97.909926% 75.328513% with 99.850351% 74.738434% / 98.384213%
      75.0652%,
    curve to 96.877683% 76.657226% with 97.30769% 75.662496% / 96.958592%
      76.123207%,
    curve to 98.738956% 78.868375% with 96.709218% 77.774637% / 97.407415%
      78.35222%,
    curve to 99.718639% 79.345543% with 99.07689% 78.99968% / 99.481433%
      79.123152%,
    curve to 99.966131% 80.129675% with 99.958605% 79.569958% / 100.048921%
      79.855801%,
    curve to 97.961732% 81.219452% with 99.801429% 80.675576% / 98.56309%
      80.920408%,
    curve to 98.530099% 84.721647% with 96.263155% 82.063605% / 96.583151%
      84.16193%,
    curve to 99.840065% 85.303102% with 98.788003% 84.834471% / 99.745859%
      85.100513%,
    curve to 96.987819% 88.050559% with 100.698197% 87.144626% / 97.507265%
      86.526824%,
    curve to 97.813964% 90.338712% with 96.710096% 88.863733% / 96.857864%
      89.775474%,
    curve to 99.839061% 91.327898% with 98.35787% 90.659054% / 99.574634%
      90.859707%,
    curve to 98.799292% 92.728952% with 100.276594% 92.148113% / 99.824008%
      92.430612%,
    curve to 97.206962% 95.709712% with 96.940654% 93.271069% / 96.374169%
      94.452108%,
    curve to 99.797666% 96.925954% with 97.688776% 96.438401% / 98.817105%
      96.681297%,
    curve to 99.784495% 99.872391% with 100.070622% 97.76553% / 100.072379%
      99.034575%,
    curve to 94.554292% 99.948957% with 99.139861% 100.094166% / 95.303291%
      100.082726%,
    curve to 92.421944% 98.106113% with 93.905894% 99.833669% / 93.685748%
      98.407973%,
    curve to 87.86924% 99.984159% with 89.856705% 97.491832% / 88.645586%
      98.339329%,
    curve to 85.0969% 99.99296% with 87.072197% 100.040483% / 85.894946%
      100.017601%,
    curve to 82.733116% 97.974104% with 84.666893% 99.079458% / 84.154974%
      98.292685%,
    curve to 80.602651% 98.102593% with 82.028271% 97.811293% / 81.258449%
      97.857936%,
    curve to 78.75179% 99.99648% with 79.453624% 98.530301% / 79.111801%
      99.202667%,
    curve to 75.999018% 99.99736% with 77.876723% 100.039603% / 76.874963%
      100.014961%,
    curve to 73.66672% 98.000506% with 75.564746% 99.082978% / 75.104132%
      98.320847%,
    curve to 71.447568% 98.127234% with 72.932397% 97.834175% / 72.133723%
      97.879938%,
    curve to 69.597209% 99.992079% with 70.314849% 98.541742% / 69.957221%
      99.207947%,
    curve to 66.828005% 99.837189% with 69.137598% 100.00528% / 67.06772%
      100.135529%,
    curve to 63.698037% 97.90898% with 65.97765% 98.777598% / 65.740946%
      97.935382%,
    curve to 60.403241% 99.885592% with 61.537842% 97.880818% / 61.294238%
      98.791679%,
    curve to 57.721593% 100% with 60.214078% 100.121448% / 58.204786%
      100.011441%,
    curve to 55.452391% 98.011067% with 57.31843% 99.090019% / 56.858569%
      98.342849%,
    curve to 53.203636% 98.125474% with 54.711545% 97.835055% / 53.900704%
      97.875538%,
    curve to 51.34274% 99.992079% with 52.047083% 98.540862% / 51.698737%
      99.194746%,
    curve to 48.802965% 99.957757% with 50.937194% 100.010561% / 49.013452%
      100.076565%,
    curve to 46.520466% 98.030428% with 47.890893% 99.40332% / 47.957%
      98.304126%,
    curve to 42.225038% 99.99472% with 43.937916% 97.539355% / 42.956853%
      98.536462%,
    curve to 39.499738% 99.99648% with 41.373429% 100.045763% / 40.352602%
      100.017601%,
    curve to 37.264279% 98.004906% with 39.101217% 99.10762% / 38.640853%
      98.338449%,
    curve to 35.019036% 98.110513% with 36.526318% 97.825374% / 35.716104%
      97.864097%,
    curve to 33.138446% 99.992079% with 33.854706% 98.525021% / 33.521539%
      99.200906%,
    curve to 30.378901% 99.99472% with 32.256104% 100.029922% / 31.26187%
      100.021121%,
    curve to 28.154481% 98.019867% with 29.967584% 99.129622% / 29.470969%
      98.35869%,
    curve to 25.930437% 98.091152% with 27.42944% 97.832415% / 26.627756%
      97.858816%,
    curve to 23.96367% 99.99736% with 24.716935% 98.495979% / 24.368087%
      99.194746%,
    curve to 21.205128% 99.99472% with 23.039682% 100.033442% / 22.12874%
      100.021121%,
    curve to 19.039539% 98.028668% with 20.804474% 99.131382% / 20.355651%
      98.382452%,
    curve to 16.784512% 98.085872% with 18.308477% 97.829774% / 17.49312%
      97.850896%,
    curve to 14.812476% 99.99472% with 15.588947% 98.483658% / 15.205102%
      99.193866%,
    curve to 12.381658% 99.980639% with 14.400658% 100.00528% / 12.630078%
      100.067765%,
    curve to 10.024008% 98.040109% with 11.303618% 99.517728% / 11.526825%
      98.336688%,
    curve to 5.652941% 99.99472% with 7.453212% 97.532314% / 6.406795%
      98.495099%,
    curve to 0.247303% 99.820468% with 4.876959% 100.044883% / 0.691467%
      100.129369%,
    curve to 0.010446% 97.895779% with -0.094573% 99.324115% / -0.020325%
      98.440535%,
    curve to 2.371203% 96.158542% with 0.087987% 96.525527% / 1.381522%
      96.852909%,
    curve to 3.111322% 94.618439% with 2.911722% 95.780997% / 3.103319%
      95.135034%,
    curve to 0.357873% 92.373408% with 3.138329% 92.875922% / 1.373243%
      93.163701%,
    curve to 0.000095% 91.50039% with 0.051851% 92.134912% / -0.036511%
      91.812811%,
    curve to 2.105647% 90.358953% with 0.061262% 90.978515% / 1.573119%
      90.684575%,
    curve to 3.12374% 88.932378% with 2.726912% 89.979648% / 3.069814%
      89.509696%,
    curve to 0.140026% 86.336116% with 3.310256% 86.936756% / 0.977539%
      87.103703%,
    curve to 0.038206% 85.634445% with -0.037358% 86.173041% / -0.020796%
      85.827177%,
    curve to 1.890243% 84.524954% with 0.226318% 85.018667% / 1.224836%
      84.833855%,
    curve to 3.069626% 83.33221% with 2.502852% 84.240431% / 2.931015%
      83.843788%,
    curve to 0.205804% 80.388413% with 3.685534% 81.059018% / 0.950908%
      81.226669%,
    curve to 0.081682% 79.412251% with -0.022301% 80.131699% / -0.058531%
      79.700647%,
    curve to 1.458304% 78.826748% with 0.243256% 79.078885% / 1.034942%
      78.95286%,
    curve to 2.95821% 77.66639% with 2.142527% 78.623454% / 2.687386% 78.146902%,
    curve to 2.897899% 76.123207% with 3.233174% 77.167397% / 3.211448%
      76.611639%,
    curve to 0.140778% 74.628866% with 2.33968% 75.231531% / 1.317536%
      74.958272%,
    curve to 2.311444% 72.499564% with -0.262358% 72.805824% / 0.911291%
      73.300241%,
    curve to 1.991497% 69.333991% with 3.489509% 71.825702% / 3.367557%
      69.91879%,
    curve to 0% 68.013903% with 1.240842% 69.01453% / -0.220106% 68.737311%,
    curve to 3.124869% 65.257558% with 0.382056% 66.757178% / 3.167305%
      66.942695%,
    curve to 0.262924% 62.661648% with 3.222549% 63.552003% / 1.891372%
      63.530266%,
    curve to 0.011951% 61.94748% with 0.044041% 62.544776% / -0.066248%
      62.120411%,
    curve to 2.092652% 60.75148% with 0.118193% 61.152787% / 1.283843%
      61.193005%,
    curve to 1.922518% 57.443954% with 3.570631% 59.967347% / 3.441905%
      58.170003%,
    curve to 0.018822% 56.077046% with 1.043129% 57.024166% / -0.206366%
      56.976026%,
    curve to 2.100843% 54.786616% with 0.150001% 55.350293% / 1.35385%
      55.184666%,
    curve to 2.117777% 51.614443% with 3.483777% 54.050006% / 3.469853%
      52.358973%,
    curve to 0.008658% 50.116846% with 1.254854% 51.139211% / -0.186416%
      51.176173%,
    curve to 2.054079% 48.881244% with 0.129204% 49.462082% / 1.436565%
      49.250868%,
    curve to 1.247327% 45.347455% with 3.834682% 47.896369% / 3.360219%
      45.922661%,
    curve to 0.280614% 44.878383% with 0.955896% 45.218878% / 0.467597%
      45.090565%,
    curve to 1.984536% 43.012482% with -0.778793% 43.675958% / 1.132338%
      43.439839%,
    curve to 3.092493% 41.739917% with 2.589894% 42.71467% / 2.991339%
      42.253695%,
    curve to 0.202415% 38.914135% with 3.548617% 39.474645% / 1.031271%
      39.726782%,
    curve to 0.010539% 38.20604% with -0.006587% 38.709169% / -0.056368%
      38.450696%,
    curve to 2.061982% 37.029049% with 0.191122% 37.545819% / 1.378223%
      37.379136%,
    curve to 3.069626% 35.819848% with 2.656616% 36.72446% / 2.952189%
      36.321569%,
    curve to 0.130051% 32.923573% with 3.595945% 33.570769% / 0.90969%
      33.770014%,
    curve to 0.062955% 32.173323% with -0.058531% 32.718784% / -0.032653%
      32.39809%,
    curve to 1.562858% 31.304705% with 0.268758% 31.689378% / 0.990525%
      31.525688%,
    curve to 3.003669% 30.137306% with 2.255071% 31.037431% / 2.785718%
      30.683911%,
    curve to 0.138707% 26.945684% with 3.932838% 27.807438% / 0.696548%
      27.743458%,
    curve to 0.049122% 26.390983% with 0.019009% 26.774601% / 0.030019%
      26.576148%,
    curve to 2.9376% 24.333229% with 0.166656% 25.250515% / 2.216963% 25.711842%,
    curve to 3.12364% 23.351963% with 3.099831% 24.022744% / 3.144914%
      23.680489%,
    curve to 0.086857% 20.904695% with 3.009402% 21.586917% / 0.619384%
      21.838262%,
    curve to 2.95106% 18.351908% with -0.61449% 19.675165% / 2.296015%
      19.565597%,
    curve to 3.11866% 17.348377% with 3.122047% 18.034911% / 3.14736% 17.683679%,
    curve to 0.122993% 15.047814% with 2.964608% 15.549624% / 0.649121% 15.8998%,
    curve to 2.938265% 12.410453% with -0.712827% 13.69446% / 2.227788%
      13.632767%,
    curve to 3.124957% 11.395041% with 3.12364% 12.09152% / 3.157245% 11.735624%,
    curve to 0.094856% 8.963438% with 2.961409% 9.672854% / 0.619008% 9.932559%,
    curve to 2.963767% 6.396227% with -0.612231% 7.656181% / 2.256112% 7.58582%,
    curve to 2.847735% 4.743538% with 3.274958% 5.873208% / 3.160067% 5.253488%,
    curve to 0.189336% 3.362399% with 2.3488% 3.928981% / 1.284783% 3.661796%,
    curve to 0.301223% 0.269629% with -0.009409% 2.715618% / -0.172396%
      0.900364%,
    curve to 0.916372% 0.036568% with 0.423933% 0.106268% / 0.67387% 0.075774%,
    close
  );

  &::before,
  &::after {
    clip-path: var(--clip);
    display: block;
    content: "";
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
  }

  &::before {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.15) 100%
    );
  }

  &::after {
    opacity: 0.8;
    mix-blend-mode: multiply;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }
}

.clip {
  height: var(--height);
  width: 100%;
  display: grid;
  grid-area: 1 / 1;
  clip-path: var(--clip);
  background-color: var(--color-amber-50);
  place-items: center;
}

.content {
  height: calc(var(--height) * 0.9);
  width: 90%;
  display: grid;
  grid-template-rows: 80% auto;
  clip-path: var(--clip);
  background-color: blue;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1 / 1 / 3 / 3;
}

.text {
  text-align: center;
  grid-area: 2 / 1;
  color: var(--color-amber-950);
  font-weight: light;
  font-style: italic;
  font-family: sans-serif;
  width: 85%;
}
