.avatar {
    will-change: filter;
    animation: blur-in, scale-up, blur-out, scale-down;
    animation-range:
        entry 0% entry 100%,
        entry 0% entry 150%,
        exit,
        exit -50%;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-composition: replace;
    animation-timeline: view(inline);
}

@keyframes blur-in {
    from {
        filter: blur(30px) brightness(0.8);
        translate: -110%;
        opacity: 0;
    }
    50% {
        opacity: 0.75;
    }
}

@keyframes scale-up {
    from {
        filter: blur(10px) brightness(0.8);
        scale: 0.5;
    }
}

@keyframes blur-out {
    50% {
        opacity: 0.75;
    }
    to {
        filter: blur(30px) brightness(0.8);
        translate: 110%;
        opacity: 0;
    }
}

@keyframes scale-down {
    to {
        filter: blur(10px) brightness(0.8);
        scale: 0.5;
    }
}
