/* Disable transitions for the root view */
::view-transition-old(root),
::view-transition-new(root),
::view-transition-group(root) {
  animation: none;
}

::view-transition-old(*),
::view-transition-new(*),
::view-transition-group(*) {
  animation-duration: calc(var(--duration) * 2);
}

::view-transition-old(page-heading) {
  animation: none;
}
::view-transition-new(page-heading),
::view-transition-group(page-heading) {
  width: fit-content;
  height: fit-content;
  opacity: 0.7;
}
