.card {
  --base-width: var(--wallet-flap-width, 50dvw);
  --base-color: var(--wallet-color, gray);

  overflow: hidden;
  border-radius: calc(var(--base-width) * 0.035);
  border-width: calc(var(--base-width) * 0.0045)
    calc(var(--base-width) * 0.0025) 0 calc(var(--base-width) * 0.002);
  border-color: color-mix(var(--base-color) 50%, white);
  box-shadow: 0px -2px 10px 0 #00000056;
  isolation: isolate;

  &:not([data-wallet] &) {
    border-width: calc(var(--base-width) * 0.0005);
  }
}
