.wallet {
  /* Textures */
  --wallet-brushed-leather-texture: repeating-linear-gradient(
    92deg,
    rgb(255 255 255 / 10%) 0 1px,
    transparent 1px 7px,
    rgb(0 0 0 / 12%) 7px 8px,
    transparent 8px 15px
  );
  --wallet-crosshatch-weave-texture:
    repeating-linear-gradient(
      35deg,
      rgb(255 255 255 / 10%) 0 1px,
      transparent 1px 8px
    ),
    repeating-linear-gradient(
      -35deg,
      rgb(0 0 0 / 16%) 0 1px,
      transparent 1px 8px
    );
  --wallet-fine-canvas-texture:
    repeating-linear-gradient(
      90deg,
      rgb(255 255 255 / 8%) 0 1px,
      transparent 1px 4px
    ),
    repeating-linear-gradient(0deg, rgb(0 0 0 / 12%) 0 1px, transparent 1px 4px);
  --wallet-herringbone-twill-texture:
    repeating-linear-gradient(
      45deg,
      rgb(255 255 255 / 10%) 0 1px,
      transparent 1px 7px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent 0 7px,
      rgb(0 0 0 / 15%) 7px 8px,
      transparent 8px 15px
    );
  --wallet-windowpane-stitch-texture:
    repeating-linear-gradient(
      90deg,
      transparent 0 31px,
      rgb(255 255 255 / 18%) 31px 32px,
      rgb(0 0 0 / 22%) 32px 33px,
      transparent 33px 64px
    ),
    repeating-linear-gradient(
      0deg,
      transparent 0 23px,
      rgb(255 255 255 / 14%) 23px 24px,
      rgb(0 0 0 / 20%) 24px 25px,
      transparent 25px 48px
    );
  --wallet-chevron-twill-texture:
    repeating-linear-gradient(
      45deg,
      transparent 0 9px,
      rgb(255 255 255 / 12%) 9px 10px,
      transparent 10px 18px
    ),
    repeating-linear-gradient(
      -45deg,
      transparent 0 9px,
      rgb(0 0 0 / 16%) 9px 10px,
      transparent 10px 18px
    );
  --wallet-texture: var(--wallet-herringbone-twill-texture);
  --wallet-texture-size: 15px 15px;
}

/* -(5 / 18) * x */

.wallet {
  --wallet-open-angle: -0;

  &[data-open] {
    --wallet-open-angle: -130;
  }

  --wallet-open-angle-deg: calc(var(--wallet-open-angle) * 1deg);
  --wallet-flap-connector: calc((var(--wallet-open-angle) * 0.5deg) - 90deg);
  --wallet-center-shift: calc((-5 / 18) * var(--wallet-open-angle) * 1%);
  --wallet-flap-connector-inner-sewing-height: 93.5%;
  --wallet-flap-connector-inner-sewing-width: 50%;

  --wallet-flap-width: min(300px, 40dvw, 60dvh);
  --wallet-flap-height: calc(var(--wallet-flap-width) / 1.2);
  --wallet-flap-depth: calc(var(--wallet-flap-width) / 8);
  --wallet-flap-depth-neg: calc(var(--wallet-flap-depth) * -1);
  --wallet-flap-thickness: calc(var(--wallet-flap-depth) / 5);
  --wallet-flap-visible-inner-width: 1.5px;
  --wallet-flap-roundness: 10%;
  /*--wallet-color: #af5faf;*/
  /*--wallet-color: #514180;*/
  --wallet-color: #546353;
  /*--wallet-color: maroon;*/
  --wallet-duration: 500ms;
  --wallet-easing: ease-in-out;
  --wallet-sewing-color: color-mix(in srgb, white 40%, var(--wallet-color));
  --wallet-color-shade: color-mix(in srgb, black 25%, var(--wallet-color));
  --wallet-color-shade-dark: color-mix(
    in srgb,
    black 10%,
    var(--wallet-color-shade)
  );
  --wallet-color-shade-bit-darker: color-mix(
    in srgb,
    black 30%,
    var(--wallet-color-shade)
  );
  --wallet-color-shade-darker: color-mix(
    in srgb,
    black 60%,
    var(--wallet-color-shade)
  );
  --wallet-color-light-tip: color-mix(
    in srgb,
    color-mix(in srgb, white 80%, var(--wallet-color)),
    transparent 70%
  );

  --wallet-flap-connector-width: calc(
    var(--wallet-flap-depth) + var(--wallet-flap-width)
  );
  --wallet-tip-highlight: linear-gradient(
    to bottom,
    var(--wallet-color-light-tip),
    transparent 1.5%
  );
  --front-flap-gradient-2: linear-gradient(
    to right,
    var(--wallet-color-shade-dark),
    transparent 5% 85%,
    var(--wallet-color-shade) 95%,
    transparent
  );
  --wallet-front-flap-rotation: calc(
    90deg + calc(var(--wallet-open-angle-deg) / 2)
  );
  --wallet-flap-connecter-inner-join-translate: calc(
    var(--wallet-flap-depth-neg) / 5
  );
}

.wallet {
  display: grid;
  grid: 1fr / 1fr 1fr;
  place-items: center;
  height: var(--wallet-flap-height);
  width: var(--wallet-flap-width);
  user-select: none;
  transform-style: preserve-3d;
  transform: translate(var(--wallet-center-shift));
  transition: transform var(--wallet-duration) var(--wallet-easing);

  & > * {
    grid-area: 1 / 1;
  }

  @media (orientation: portrait) {
    transform: translate(var(--wallet-center-shift));
  }
}

.flap {
  display: grid;
  grid: 1fr / 1fr;
  height: var(--wallet-flap-height);
  width: var(--wallet-flap-width);
  background-color: var(--wallet-color);
  background-size: var(--wallet-texture-size), auto;
  transform-origin: left;
  border-radius: 0 var(--wallet-flap-roundness) var(--wallet-flap-roundness) 0;
  transform-style: preserve-3d;

  &::after {
    display: block;
    content: "";
    background-color: var(--wallet-color-shade-darker);
    grid-area: 1/1;
    border-radius: inherit;
  }
}

.frontFlap {
  grid-area: 1 / 2;
  transform-origin: left;
  transform: rotateY(var(--wallet-front-flap-rotation));
  background-image:
    var(--wallet-texture), var(--wallet-tip-highlight),
    var(--front-flap-gradient-2),
    radial-gradient(
      160% 60% at 50% 100%,
      var(--wallet-color-shade-dark),
      transparent,
      transparent
    ),
    linear-gradient(
      to bottom,
      transparent,
      color-mix(in srgb, white 9%, var(--wallet-color)) 10%,
      transparent 25%
    );
  background-size: var(--wallet-texture-size), auto, auto, auto, auto;
  transition: transform var(--wallet-duration) var(--wallet-easing);

  &::after {
    transform: translateZ(calc(var(--wallet-flap-visible-inner-width) * -1));
  }
}

.backFlap {
  justify-self: start;
  background-color: color-mix(black 25%, var(--wallet-color-light-tip));

  &::after {
    display: none;
  }
}

.flapConnector {
  display: grid;
  grid: 1fr / 1fr 1fr;
  height: 100%;
  width: var(--wallet-flap-connector-width);
  justify-self: start;
  transform-origin: left;
  transform: rotateY(var(--wallet-flap-connector));
  transform-style: preserve-3d;
  transition: transform var(--wallet-duration) var(--wallet-easing);

  &::before {
    display: block;
    content: "";
    grid-area: 1 / 1;
    transform: translateZ(var(--wallet-flap-connecter-inner-join-translate));
    background-color: var(--wallet-color-shade-bit-darker);
    background-image:
      linear-gradient(
        to bottom,
        transparent 2.5%,
        var(--wallet-color-shade-darker) 2.5% 4%,
        transparent 4% 95.5%,
        var(--wallet-color-shade-darker) 95.5% 97%,
        transparent 97%
      ),
      linear-gradient(
        to left,
        transparent,
        color-mix(in srgb, var(--wallet-color-shade-dark) 92%, white),
        transparent
      ),
      var(--wallet-texture);
    background-size: inherit;
  }

  &::after {
    display: block;
    content: "";
    grid-area: 1/1;
    height: var(--wallet-flap-connector-inner-sewing-height);
    width: var(--wallet-flap-connector-inner-sewing-width);
    align-self: center;
    background-color: var(--wallet-sewing-color);
    transform: translateZ(var(--wallet-flap-connecter-inner-join-translate));
    clip-path: var(--wallet-flap-connector-sewing);
  }

  & > *:not(.flap) {
    display: grid;
    grid: 1fr / 1fr;
    grid-area: 1 / 1;
    background-color: var(--wallet-color-shade-dark);
    background-image: var(--wallet-texture), var(--wallet-tip-highlight);
    background-size: var(--wallet-texture-size), auto, auto;

    &::before {
      display: block;
      content: "";
      grid-area: 1/1;
      height: 94%;
      width: 100%;
      align-self: center;
      justify-self: center;
      clip-path: var(--wallet-flap-connector-sewing);
      background-color: var(--wallet-sewing-color);
    }
  }
}

.flapConnectorRight {
  justify-self: end;
  transform-origin: right;
  transform: rotateY(45deg);
  width: calc(100% / 3);
}

.flapConnectorMiddle {
  width: calc(100% / 1.7);
  height: 100%;
  justify-self: center;
  transform: translateZ(calc(var(--wallet-flap-depth) / 4));
  transform-style: preserve-3d;

  &::after {
    display: block;
    content: "";
    grid-area: 1 / 1;
    height: var(--wallet-flap-connector-inner-sewing-height);
    width: 100%;
    align-self: center;
    background: var(--wallet-sewing-color);
    transform: translateZ(calc(var(--wallet-flap-depth-neg) / 2.2))
      translate(45%);
    clip-path: var(--wallet-flap-connector-sewing);
  }
}

.flapConnectorLeft {
  display: grid;
  grid-area: 1 / 1;
  width: calc(100% / 3);
  transform-origin: left;
  transform: rotateY(-45deg);
}

.flapSewing {
  grid-area: 1/1;
  height: 95%;
  width: 98%;
  align-self: center;
  justify-self: start;
  background-color: var(--wallet-sewing-color);
  clip-path: var(--wallet-flap-sewing);
}

.flapSewingShade {
  grid-area: 1/1;
  height: 95%;
  width: 98%;
  align-self: center;
  justify-self: start;
  background-color: var(--wallet-color-shade-darker);
  clip-path: var(--wallet-flap-sewing-shade);
}

.flapInnerSide {
  --wallet-sewing-color: color-mix(in srgb, white 25%, var(--wallet-color));
  --wallet-color-light-tip: color-mix(
    in srgb,
    color-mix(in srgb, white 80%, var(--wallet-color)),
    transparent 85%
  );
  --wallet-pocket-tip-highlight: linear-gradient(
    to bottom,
    var(--wallet-color-light-tip),
    transparent 2%
  );
  display: grid;
  border-width: inherit;
  border-radius: inherit;
  grid-area: 1/1;
  background-color: var(--wallet-color-shade-bit-darker);
  background-image: var(--wallet-texture);
  background-size: inherit;

  .frontFlap & {
    transform: translateZ(calc(var(--wallet-flap-thickness) * -1));
  }

  .backFlap & {
    transform: translateZ(var(--wallet-flap-thickness));

    &::before {
      display: block;
      content: "";
      grid-area: 1/1;
      border-radius: inherit;
      background-image:
        linear-gradient(
          -160deg,
          var(--wallet-color-light-tip) 1%,
          transparent 8%
        ),
        linear-gradient(
          to bottom,
          transparent 5.5%,
          color-mix(var(--wallet-color), black) 8%,
          transparent
        );
    }
  }
}

.flapInnerSideContent {
  display: grid;
  grid: 1fr / 1fr;
  grid-area: 1 / 1;
  isolation: isolate;

  .frontFlap & {
    transform: scaleX(-1);
  }
}

.innerSideMainPocket {
  display: grid;
  grid: 1fr / 1fr;
  height: 92%;
  background-image:
    var(--wallet-texture), var(--wallet-pocket-tip-highlight),
    linear-gradient(
      to bottom,
      transparent 1%,
      var(--wallet-color-shade-bit-darker) 2%,
      transparent 5%
    ),
    radial-gradient(
      40% 120% at 95% 50%,
      color-mix(var(--wallet-color-shade-dark) 90%, white),
      transparent 50%
    );
  background-size: inherit;
  align-self: end;

  .backFlap & {
    background-color: var(--wallet-color-shade-dark);
    border-radius: 0 calc(var(--wallet-flap-roundness) / 2)
      var(--wallet-flap-roundness) 0;
    place-content: center;
  }

  .frontFlap & {
    display: none;
  }

  &::before,
  &::after {
    display: block;
    content: "";
    width: 95%;
    place-self: center;
    grid-area: 1/1;
  }

  &::before {
    height: 94%;
    background-color: color-mix(var(--wallet-color-shade-darker), transparent);
    clip-path: var(--wallet-pocket-sewing-shade);
  }

  &::after {
    height: 93%;
    background-color: var(--wallet-sewing-color);
    clip-path: var(--wallet-pocket-sewing);
  }
}
