.card {
  border-radius: calc(var(--wallet-flap-width) * 0.035);
  border-width: calc(var(--wallet-flap-width) * 0.0045)
    calc(var(--wallet-flap-width) * 0.0025) 0
    calc(var(--wallet-flap-width) * 0.002);
  border-color: color-mix(var(--wallet-color, white) 50%, white);
  height: auto;
  overflow: hidden;
  box-shadow: 0px -2px 10px 0 #00000056;

  [data-wallet-spotlight] & {
    border-width: calc(var(--wallet-flap-width) * 0.0045);
  }
}
